$font-stack-title: 'Abril Fatface', cursive;
$font-color-title: #C60F7B; 
$font-color-background: #003049;
$font-color-default: #C60F7B;

* {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: $font-color-default;
    // border-image: url(http://placekitten.com/100/100) 25% round;
    // background-color: $font-color-background;
}

body {
    background-color: #f2f5ff;
    // background-color: $font-color-background;
}

#startMenu{
    padding-top: 50px;
}

.instructions{
    font-size: 1.5em;
}

img {
    height: 400px;
    width: auto;
    margin: 10px;
    padding: 0px;
    border: 15px solid #F90093;
    border-radius: 10px;
    box-shadow: 5px;
    box-shadow: 0px 0px 14px 1px #000000;
    // border-image-slice: 50%; 
}

img:hover{
    margin-top: 20px;
    // border: solid 10px #D62828;
    // background-color: #F77F00;
}

.shake {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.1s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: 7;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 0px) rotate(0deg); }
    10% { transform: translate(-1px, 0px) rotate(0deg); }
    20% { transform: translate(-3px, 0px) rotate(0deg); }
    30% { transform: translate(3px, 0px) rotate(0deg); }
    40% { transform: translate(1px, 0px) rotate(0deg); }
    50% { transform: translate(-1px, 0px) rotate(0deg); }
    60% { transform: translate(-3px, 0px) rotate(0deg); }
    70% { transform: translate(3px, 0px) rotate(0deg); }
    80% { transform: translate(-1px, 0px) rotate(0deg); }
    90% { transform: translate(1px, 0px) rotate(0deg); }
    100% { transform: translate(1px, 0px) rotate(0deg); }
  }

#choices {
    display: flex;
    justify-content: center;
}

.queen {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 5em;
    color: $font-color-title;
    font-family: $font-stack-title;
}

.queen-name {
    color: #C60F7B;
    font-size: 1.5em;
    font-family: $font-stack-title;
}

.episodeData{
    margin: 20px auto;
    padding: 5px;
    width: 45%;
    color: #FCBF49;
    font-size: 30px;
    font-family: $font-stack-title;

}

.episodeData > *{
    font-size: 30px;
    font-family: $font-stack-title;
}

.episodeData > * > *{
    font-size: 30px;
    font-family: $font-stack-title;
}

button{
    font-size: 30px;
    color: #C60F7B;
    border: 7px solid #C60F7B;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    font-family: $font-stack-title;
}

#scoreDisplay {
    font-family: $font-stack-title;
    font-size: 1.5em;
    margin-top: 100px;
}

button:hover{
    margin-top: 15px;
}

button:active{
    font-size: 25px;
}

.loader-wrapper {
    display: flex;
    justify-content: center;
}

.loader {
    // display: block;
    border: 16px solid #D6D1CD;
    border-radius: 50%;
    border-top: 16px solid #C60F7B;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.off-neon-light{
    z-index: 100;
    width: 300px;
    height: 20px;
    margin: 20px auto 0px auto;
    border-radius: 10px;
    background: #39ff14; 
    background-image: radial-gradient(white, grey);
}

.green-border{
    // background-color: yellow
    // border: 25px solid #39ff14; 
    box-shadow: 0px 0px 25px 14px #00FF00;
}

.red-border{
    // border: 25px solid red; 
    box-shadow: 0px 0px 25px 14px red;
}