* {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #2E2F2F;
}

#startMenu{
    padding-top: 50px;
}

.instructions{
    font-size: 1.5em;
}

img {
    height: 500px;
    width: auto;
    border: solid 10px #D90368;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    background-color: #FFAAEA;
}

#choices {
    display: flex;
    justify-content: center;
}

.queen {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 5em;
    color: #D90368;
    font-family: 'Abril Fatface', cursive;
}
